[Unit]
Description=Femas gateway
After=network-online.target
Conflicts=roq-femas-stop.service

[Service]
User={{ roq_user if roq_user is defined else ansible_user_id }}
Group={{ roq_user if roq_user is defined else ansible_user_id }}
Restart=on-abnormal
UMask=0000
{% if femas_use_docker %}
ExecStart=/usr/bin/docker run --rm --name %n -i \
{% if femas_config.cpu_affinity is defined %}
  --cpuset-cpus "{{ femas_config.cpu_affinity }}" \
{% endif %}
  --publish 12345:12345 \
  --volume {{ root }}/etc/roq/femas:/etc/roq/femas:ro \
  --volume {{ root }}/var/log/roq:/var/log/roq \
  --volume {{ root }}/var/tmp/femas.sock:/var/tmp/femas.sock \
  --env ROQ_log_dir={{ root }}/var/log/roq \
  --env ROQ_v={{ femas_config.verbosity | default(0) }} \
  {{ roq_femas.docker.name }}:{{ roq_femas.docker.tag }}
# TODO(thraneh): --monitor-port {{ roq_femas.metrics.port }}
{% else %}
{% if femas_config.cpu_affinity is defined %}
CPUAffinity={{ femas_config.cpu_affinity }}
{% endif %}
CPUSchedulingPolicy=fifo
WorkingDirectory={{ root }}/var/run/roq/femas
ExecStart={{ root }}/usr/local/bin/roq-femas.sh
{% endif %}


[Install]
WantedBy=multi-user.target
