[Unit]
Description=Femas gateway
After=network-online.target
Conflicts=roq-femas-stop.service

[Service]
{% if femas_use_docker %}
TimeoutStartSec=0
ExecStart=/usr/bin/docker run --rm --name %n -i \
{% if femas_config.cpu_affinity is defined %}
  --cpuset-cpus "{{ femas_config.cpu_affinity }}" \
{% endif %}
  --network host \
  --network roq-network \
  --volume {{ root }}/etc/roq/femas:/etc/roq/femas:ro \
  --volume {{ root }}/var/tmp:/var/tmp \
{% if femas_config.logging.use_log_dir %}
  --volume {{ root }}/var/log/roq:/var/log/roq \
  --env ROQ_log_dir={{ root }}/var/log/roq \
{% endif %}
  --env ROQ_v={{ femas_config.logging.verbosity | default(0) }} \
  --env FLAGS_monitor_port={{ roq_femas.metrics.port }} \
  {{ roq_femas.docker.name }}:{{ femas_config.version }}
{% else %}
User={{ roq_user if roq_user is defined else ansible_user_id }}
Group={{ roq_user if roq_user is defined else ansible_user_id }}
Restart=on-abnormal
UMask=0000
{% if femas_config.cpu_affinity is defined %}
CPUAffinity={{ femas_config.cpu_affinity }}
{% endif %}
WorkingDirectory={{ root }}/var/run/roq/femas
ExecStart={{ root }}/usr/local/bin/roq-femas.sh
{% endif %}


[Install]
WantedBy=multi-user.target
