[Unit]
Description=Femas metrics bridge -- tcp to unix
After=network-online.target

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/socat unix-listen:/var/tmp/femas.metrics.sock,fork tcp:127.0.0.1:{{ femas_config.metrics.port }}

[Install]
WantedBy=multi-user.target
