[Unit]
Description=Gogs
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/bin/mkdir -p {{ root }}/var/run/backups/gogs/native
ExecStart=/usr/bin/docker run --rm --name %n \
  --publish {{ gogs.ssh_port }}:{{ gogs.ssh_port }} \
  --network roq-network \
  --volume {{ root }}/var/lib/gogs:/data \
  --volume {{ root }}/var/run/backups/gogs/native:/var/lib/gogs/backups \
  {{ gogs.docker.name }}:{{ gogs.docker.tag }}

[Install]
WantedBy=multi-user.target
