[Unit]
Description=gogs backup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gogs-backup

[Install]
WantedBy=multi-user.target
