[Unit]
Description=Gogs backup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gogs-backup.sh

[Install]
WantedBy=multi-user.target
