[Unit]
Description=Gogs
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
# TODO(thraneh): app.ini doesn't control the SSH listen ports... bug?
ExecStart=/usr/bin/docker run --rm --name %n \
  --publish {{ gogs_config.ssh_port }}:22 \
  --network roq-network \
  --volume {{ root }}/var/lib/gogs/data:/data \
  --volume {{ root }}/var/lib/gogs/backups:/var/lib/gogs/backups \
  {{ docker_registry_prefix | default('') }}{{ gogs_config.docker.name }}:{{ gogs_config.docker.tag }}

[Install]
WantedBy=multi-user.target
