[Unit]
Description=PostgreSQL database
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
# publish port {{ postgres.port }} for provisioning purposes
ExecStart=/usr/bin/docker run --rm --name %n \
  --publish {{ postgres.port }}:{{ postgres.port }} \
  --network roq-network \
  --volume {{ root }}/var/lib/postgres:/var/lib/postgresql/data \
  --volume {{ root }}/var/run/postgres:/var/run/postgresql \
  --env POSTGRES_USER={{ postgres.user }} \
  --env POSTGRES_PASSWORD={{ postgres.password }} \
  {{ docker_registry_prefix | default('') }}{{ postgres.docker.name }}:{{ postgres.docker.tag }}

[Install]
WantedBy=multi-user.target
