[Unit]
Description=Gemini backup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/roq-gemini-backup.sh

[Install]
WantedBy=multi-user.target
