[Unit]
Description=InfluxDB
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_2 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull influxdb
ExecStart=/usr/bin/docker run --rm --name %n \
  --volume {{ root }}/var/lib/influxdb:/var/lib/influxdb \
  --publish {{ influxdb_client_port }}:{{ influxdb_client_port }} \
  --publish {{ influxdb_graphite_port }}:{{ influxdb_graphite_port }} \
  --env INFLUXDB_GRAPHITE_ENABLED=true \
  --env INFLUXDB_REPORTING_DISABLED=true \
  influxdb

[Install]
WantedBy=multi-user.target
