[Unit]
Description=InfluxDB
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_2 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
  --network roq-network \
  --publish 8086:8086 \
  --volume {{ root }}/var/lib/influxdb:/var/lib/influxdb \
  --env INFLUXDB_HTTP_ENABLED=true \
  --env INFLUXDB_HTTP_BIND_ADDRESS=:8086 \
  --env INFLUXDB_HTTP_FLUX_ENABLED=true \
  --env INFLUXDB_REPORTING_DISABLED=true \
  {{ docker_registry_prefix | default('') }}{{ influxdb.docker.name }}:{{ influxdb.docker.tag }}

[Install]
WantedBy=multi-user.target
