[Unit]
Description=TeamCity backup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/teamcity-backup

[Install]
WantedBy=multi-user.target
