[Unit]
Description=Teamcity
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ teamcity.docker.name }}:{{ teamcity.docker.tag }}
ExecStart=/usr/bin/docker run --rm --name %n \
  --link postgres.service \
  --link nexus.service \
  --link gogs.service \
  --publish {{ teamcity.port }}:{{ teamcity.port }} \
  --volume {{ root }}/var/lib/teamcity/data:/data/teamcity_server/datadir \
  --volume {{ root }}/var/log/teamcity:/opt/teamcity/logs \
  --volume {{ root }}/var/lib/teamcity/backups:/var/lib/teamcity/backups \
  --env TEAMCITY_CONTEXT=teamcity \
  {{ teamcity.docker.name }}:{{ teamcity.docker.tag }}

[Install]
WantedBy=multi-user.target
