[Unit]
Description=teamcity agent-{{ item }}
After=docker.service teamcity-server.service
Requires=docker.service
Wants=teamcity.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
  --network roq-network \
  --volume {{ root }}/var/lib/teamcity/agent-{{ item }}:/data/teamcity_agent/conf \
  --env SERVER_URL=http://teamcity-server.service:{{ teamcity.port }}/teamcity/ \
  --env AGENT_NAME=agent_{{ item }} \
  --env DOCKER_IN_DOCKER=start \
  --privileged \
  roq-tc-agent:latest

[Install]
WantedBy=multi-user.target
