[Unit]
Description=teamcity server
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
  --network roq-network \
  --volume {{ root }}/var/lib/teamcity/server:/data/teamcity_server/datadir \
  --volume {{ root }}/var/log/teamcity:/opt/teamcity/logs \
  --volume {{ root }}/var/lib/teamcity/backups:/var/backups/teamcity \
  --env TEAMCITY_CONTEXT=teamcity \
  {{ docker_registry_prefix | default('') }}{{ teamcity.docker.name }}:{{ teamcity.docker.tag }}

[Install]
WantedBy=multi-user.target
