[Unit]
Description=Roq Samples Example {{ item }}
After=network-online.target

[Service]
UMask=0000
User={{ roq_user if roq_user is defined else ansible_user_id }}
Group={{ roq_user if roq_user is defined else ansible_user_id }}
ExecStart={{ root }}/miniconda/bin/roq-samples-example-{{ item }} \
  --flagfile {{ root }}/etc/roq/roq-samples-example-{{ item }}.gflags \
  {{ root }}/var/tmp/roq-deribit.sock \
  {{ root }}/var/tmp/roq-coinbase-pro.sock
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
