[Unit]
Description=Market data collector
After=network-online.target
Conflicts=roq-collector-stop.service

[Service]
{% if collector_use_docker %}
TimeoutStartSec=0
ExecStart=/bin/bash -c '/usr/bin/docker run --rm --name %n -i \
{% if collector_config.cpu_affinity is defined %}
  --cpuset-cpus "{{ collector_config.cpu_affinity }}" \
{% endif %}
  --network roq-network \
  --volume {{ root }}/var/tmp:/var/tmp \
  --volume {{ root }}/var/lib/roq:/var/lib/roq \
{% if collector_config.logging.use_log_dir %}
  --volume {{ root }}/var/log/roq:/var/log/roq \
  --env ROQ_log_dir={{ root }}/var/log/roq \
{% endif %}
  --env ROQ_v={{ collector_config.logging.verbosity | default(0) }} \
  {{ roq_samples.docker.name }}:{{ collector_config.version }} \
  --gateways "femas=test:1234@/var/tmp/femas.sock" \
  --output-file "{{ root }}/var/lib/roq/femas_$$(date +%%Y-%%m-%%d).csv"'
{% else %}
User={{ roq_user if roq_user is defined else ansible_user_id }}
Group={{ roq_user if roq_user is defined else ansible_user_id }}
Restart=on-abnormal
UMask=0002
{% if collector_config.cpu_affinity is defined %}
CPUAffinity={{ collector_config.cpu_affinity }}
{% endif %}
WorkingDirectory={{ root }}/var/run/roq/collector
ExecStart=/bin/bash -c '{{ root }}/usr/local/bin/roq-collector.sh \
  --output-file "{{ root }}/var/lib/roq/femas_$$(date +%%Y-%%m-%%d).csv"'
{% endif %}

[Install]
WantedBy=multi-user.target
