[Unit]
Description=roq-{{ config.options.name }} gateway stop
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/echo ''

[Install]
WantedBy=multi-user.target
