[Unit]
Description=Nexus
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/bin/mkdir -p {{ root }}/var/run/backups/nexus/native
ExecStart=/usr/bin/docker run --rm --name %n \
  --user 0:0 \
  --network roq-network \
  --volume {{ root }}/var/lib/nexus:/nexus-data \
  --volume {{ root }}/var/run/nexus/native:/var/backups/nexus \
  --env NEXUS_CONTEXT=nexus \
  {{ docker_registry_prefix | default('') }}{{ nexus.docker.name }}:{{ nexus.docker.tag }}

[Install]
WantedBy=multi-user.target
