[Unit]
Description=Nexus
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull sonatype/nexus3
ExecStart=/usr/bin/docker run --rm --name %n \
  --user 0:0 \
  --volume {{ root }}/var/lib/nexus:/nexus-data \
  --publish {{ nexus_port }}:{{ nexus_port }} \
  --env NEXUS_CONTEXT="nexus" \
  sonatype/nexus3

[Install]
WantedBy=multi-user.target
