<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Roq</title>
</head>

<body>
	
<section>
  <h1>Roq Trading Solutions</h1>
  <ul>
{% if 'trading' in groups %}
    <li><a href="/grafana/">Grafana</a></li>
    <li><a href="/prometheus/">Prometheus</a></li>
    <li><a href="/netdata/">netdata</a></li>
{% endif %}
{% if 'teamcity' in groups %}
    <li><a href="/teamcity/">TeamCity</a></li>
{% endif %}
  </ul>
</section>

<footer>
  <p>Copyright 2018 Roq GmbH</p>
</footer>

</body>

</html>
