<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Roq</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<header>
	  <div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container d-flex justify-content-between">
				<a class="navbar-brand d-flex align-items-center" href="#"><strong>{{ product_name }}</strong></a>
			</div>
		</div>
	</header>
	<main role="main">
		<div class="album py-5 bg-light">
			<div class="container">
{% if 'trading' in groups %}
				<h2>Trading / Monitoring</h2>
				<div class="card-deck">
					<div class="card">
            <div class="card-header">Grafana
							<a class="btn btn-sm btn-outline-secondary float-right" href="/grafana/" target="_blank" role="button">Launch</a>
            </div>
						<div class="card-body">
							<h5 class="card-title">Dashboard</h5>
              <p class="card-text">
                <ul>
                  <li>Data visualization and monitoring</li>
                </ul>
              </p>
						</div>
					</div>
					<div class="card">
            <div class="card-header">netdata
							<a class="btn btn-sm btn-outline-secondary float-right" href="/netdata/" target="_blank" role="button">Launch</a>
            </div>
						<div class="card-body">
							<h5 class="card-title">System Monitoring</h5>
              <p class="card-text">
                <ul>
                  <li>Real-time system performance and health monitoring</p>
                </ul>
              </p>
						</div>
					</div>
					<div class="card">
            <div class="card-header">Prometheus
							<a class="btn btn-sm btn-outline-secondary float-right" href="/prometheus/" target="_blank" role="button">Launch</a>
            </div>
						<div class="card-body">
							<h5 class="card-title">Time-series Database</h5>
              <p class="card-text">
                <ul>
                  <li>Query engine</li>
                  <li>Collect metrics</li>
                  <li>Generate alerts</li>
                </ul>
              </p>
						</div>
					</div>
				</div>
{% endif %}
{% if 'cicd' in groups %}
				<h2>CI/CD Pipeline</h2>
				<div class="card-deck">
					<div class="card">
            <div class="card-header">Gogs
						  <a class="btn btn-sm btn-outline-secondary float-right" href="/gogs/" target="_blank" role="button">Launch</a>
            </div>
						<div class="card-body">
							<h5 class="card-title">Version Control</h5>
              <p class="card-text">
                <ul>
                  <li>Git</li>
                  <li>Issues</li>
                  <li>Users</li>
                </ul>
              </p>
						</div>
					</div>
					<div class="card">
            <div class="card-header">TeamCity
						  <a class="btn btn-sm btn-outline-secondary float-right" href="/teamcity/" target="_blank" role="button">Launch</a>
            </div>
						<div class="card-body">
							<h5 class="card-title">Build Management</h5>
              <p class="card-text">
                <ul>
                  <li>Build configuration</li>
                  <li>Compile and test</li>
                  <li>Deploy</li>
                </ul>
              </p>
						</div>
					</div>
					<div class="card">
            <div class="card-header">Nexus
							<a class="btn btn-sm btn-outline-secondary float-right" href="/nexus/" target="_blank" role="button">Launch</a>
            </div>
						<div class="card-body">
							<h5 class="card-title">Repository Management</h5>
              <p class="card-text">
                <ul>
                  <li>Store compiled binaries</li>
                  <li>Cache external dependencies</li>
                </ul>
              </p>
						</div>
					</div>
				</div>
{% endif %}
			</div>
		</div>
	</main>
	<footer class="text-muted">
		<div class="container">
			<p>Copyright 2018 Hans Erik Thrane</p>
		</div>
	</footer>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
