<!DOCTYPE HTML>

<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Roq</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
	<header>
	  <div class="navbar navbar-dark bg-dark shadow-sm">
			<div class="container d-flex justify-content-between">
				<a class="navbar-brand d-flex align-items-center" href="#"><strong>Roq Trading Solutions</strong></a>
			</div>
		</div>
	</header>
	<main role="main">
		<div class="album py-5 bg-light">
			<div class="container">
{% if 'trading' in groups %}
				<h2>Trading / Monitoring</h2>
				<div class="card-deck">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Grafana</h5>
							<div class="card-text">
								<p>Dashboard experience.</p>
                <p>
                  <ul>
                    <li>Data visualization and monitoring.</li>
                    <li>Extends Prometheus with a graphical front-end.</li>
                  </ul>
                </p>
								<a class="btn btn-sm btn-outline-secondary" href="/grafana/" role="button">Launch</a>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Prometheus</h5>
							<div class="card-text">
								<p>Time-series database.</p>
                <p>
                  <ul>
                    <li>Query engine (e.g. used by Grafana).</li>
                    <li>Collects metrics using the node-exporter service.</li>
                    <li>Alerting using the Alertmanager service.</li>
                  </ul>
                </p>
								<a class="btn btn-sm btn-outline-secondary" href="/prometheus/" role="button">Launch</a>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">netdata</h5>
							<div class="card-text">
								<p>System monitoring.</p>
                <p>
                  <ul>
                    <li>Real-time system performance and health monitoring.</p>
                  </ul>
                </p>
								<a class="btn btn-sm btn-outline-secondary" href="/netdata/" role="button">Launch</a>
							</div>
						</div>
					</div>
				</div>
{% endif %}
{% if 'cicd' in groups %}
				<h2>CI/CD Pipeline</h2>
				<div class="card-deck">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Gogs</h5>
							<div class="card-text">
								<p>Version control.</p>
                <p>
                  <ul>
                    <li>Git service.</li>
                    <li>Issue management.</li>
                    <li>User management (including ssh key management).</li>
                  </ul>
                </p>
								<a class="btn btn-sm btn-outline-secondary" href="/gogs/" role="button">Launch</a>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">TeamCity</h5>
							<div class="card-text">
								<p>Build management.</p>
                <p>
                  <ul>
                    <li>Build configuration.</li>
                    <li>Compile and test.</li>
                    <li>Deploy binaries to repository manager (e.g. Nexus).</li>
                  </ul>
                </p>
								<a class="btn btn-sm btn-outline-secondary" href="/teamcity/" role="button">Launch</a>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Nexus</h5>
							<div class="card-text">
								<p>Repository management.</p>
                <p>
                  <ul>
                    <li>Store complied binaries.</li>
                    <li>Cache external dependencies.</li>
                  </ul>
                </p>
								<a class="btn btn-sm btn-outline-secondary" href="/nexus/" role="button">Launch</a>
							</div>
						</div>
					</div>
				</div>
{% endif %}
			</div>
		</div>
	</main>
	<footer class="text-muted">
		<div class="container">
			<p>Copyright 2018 Hans Erik Thrane</p>
		</div>
	</footer>
</body>

</html>
