[Unit]
Description=Nginx
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecReload=/usr/bin/docker kill -s HUP %n
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n -i \
  --publish 80:{{ nginx.http_port }} \
  --publish 443:{{ nginx.https_port }} \
  --security-opt apparmor=unconfined \
  --network host \
  --network roq-network \
  --volume {{ root }}/etc/nginx/conf.d:/etc/nginx/conf.d:ro \
  --volume {{ root }}/var/www:/var/www:ro \
{% if 'web' in groups %}
  --volume {{ root }}/etc/letsencrypt:/etc/letsencrypt:ro \
{% endif %}
  --volume {{ root }}/var/tmp:/metrics \
  {{ docker_registry_prefix | default('') }}{{ nginx.docker.name }}:{{ nginx.docker.tag }}

[Install]
WantedBy=multi-user.target
