[Unit]
Description=Nginx
Wants=network-online.target docker.service
After=network-online.target docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecReload=/usr/bin/docker kill -s HUP %n
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ nginx.docker.name }}:{{ nginx.docker.tag }}
ExecStart=/usr/bin/docker run --rm --name %n -i \
  --publish 80:80 \
{% if true %}
  --security-opt apparmor=unconfined \
  --net host \
{% else %}
{% if 'trading' in groups %}
  --link {{ prometheus.service }} \
  --link {{ netdata.service }} \
  --link {{ grafana.service }} \
{% endif %}
{% if 'cicd' in groups %}
  --link {{ gogs.service }} \
  --link {{ nexus.service }} \
  --link {{ teamcity.service }} \
  --link {{ rundeck.service }} \
{% endif %}
{% endif %}
  --volume {{ root }}/etc/nginx/conf.d:/etc/nginx/conf.d:ro \
  --volume {{ root }}/var/www:/var/www:ro \
{% if 'web' in groups %}
  --volume {{ root }}/etc/letsencrypt:/etc/letsencrypt:ro \
{% endif %}
  {{ nginx.docker.name }}:{{ nginx.docker.tag }}

[Install]
WantedBy=multi-user.target
