[Unit]
Description=bitmex gateway backup service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/roq-bitmex-backup.sh

[Install]
WantedBy=multi-user.target
