[Unit]
Description=Grafana backup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/grafana-backup

[Install]
WantedBy=multi-user.target
