[Unit]
Description=Grafana
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull grafana/grafana
ExecStart=/usr/bin/docker run --rm --name %n \
  --user 0:0 \
  --publish 3000:3000 \
  --link prometheus.service \
  --volume {{ root }}/var/lib/grafana:/var/lib/grafana \
  --env "GF_SERVER_ROOT_URL=http://localhost/grafana" \
  grafana/grafana

[Install]
WantedBy=multi-user.target
