[Unit]
Description=Redis
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
  --user 0:0 \
  --network roq-network \
  --volume {{ root }}/usr/local/etc/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro \
  --volume {{ root }}/var/lib/redis:/data \
  --publish {{ redis.port }}:{{ redis.port }} \
  {{ docker_registry_prefix | default('') }}{{ redis.docker.name }}:{{ redis.docker.tag }} \
  redis-server /usr/local/etc/redis/redis.conf

[Install]
WantedBy=multi-user.target
