[Unit]
Description=coinbase pro gateway backup service
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/roq-coinbase-pro-backup.sh

[Install]
WantedBy=multi-user.target
