[Unit]
Description=Netdata
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_2 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
  --security-opt apparmor=unconfined \
  --cap-add SYS_PTRACE \
  --network roq-network \
  --volume /proc:/host/proc:ro \
  --volume /sys:/host/sys:ro \
  {{ docker_registry_prefix | default('') }}{{ netdata.docker.name }}:{{ netdata.docker.tag }}

[Install]
WantedBy=multi-user.target
