[Unit]
Description=Deribit backup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/roq-deribit-backup.sh

[Install]
WantedBy=multi-user.target
