[Unit]
Description=backup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/roq-backup.sh

[Install]
WantedBy=multi-user.target
