[Unit]
Description=roq backup
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/roq-backup

[Install]
WantedBy=multi-user.target
