[Unit]
Description=AlertManager
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull prom/alertmanager
ExecStart=/usr/bin/docker run --rm --name %n \
  --user 0:0 \
  --security-opt apparmor=unconfined \
  --net host \
  --volume {{ root }}/etc/alertmanager:/etc/alertmanager:ro \
  --volume {{ root }}/var/lib/alertmanager:/var/lib/alertmanager \
  prom/alertmanager \
  --web.external-url=http://localhost/alertmanager \
  --config.file={{ root }}/etc/alertmanager/alertmanager.yml \
  --storage.path={{ root }}/var/lib/alertmanager

[Install]
WantedBy=multi-user.target
