[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_2 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n -i \
  --user 0:0 \
  --security-opt apparmor=unconfined \
  --network roq-network \
  --volume /run/systemd:/run/systemd \
  {{ docker_registry_prefix | default('') }}{{ node_exporter.docker.name }}:{{ node_exporter.docker.tag }} \
  --collector.systemd

[Install]
WantedBy=multi-user.target
