[Unit]
Description=Prometheus
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
{% if cpu_affinity is defined %}
CPUAffinity={{ cpu_affinity.zone_3 }}
{% endif %}
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/docker run --rm --name %n \
  --user 0:0 \
  --network roq-network \
  --volume {{ root }}/etc/prometheus:/etc/prometheus:ro \
  --volume {{ root }}/var/lib/prometheus:/var/lib/prometheus \
  {{ docker_registry_prefix | default('') }}{{ prometheus.docker.name }}:{{ prometheus.docker.tag }} \
  --web.external-url=http://localhost/prometheus \
  --config.file={{ root }}/etc/prometheus/prometheus.yml \
  --storage.tsdb.path={{ root }}/var/lib/prometheus

[Install]
WantedBy=multi-user.target
